/* Estilos para el contenedor del detalle */
.detail-container {
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el detalle horizontalmente en la página */
    padding: 20px; /* Espaciado interno para el contenedor del detalle */
    border: 1px solid #ccc; /* Borde alrededor del detalle */
    border-radius: 5px; /* Borde redondeado */
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    text-align: center; /* Centra el texto en el contenedor */
  }
  
  /* Estilos para los títulos del detalle */
  .detail-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espacio después del título */
  }
  
  /* Estilos para los párrafos del detalle */
  .detail-paragraph {
    margin-bottom: 10px; /* Espacio entre los párrafos */
  }
  
  /* Estilos para el botón "Go Back" */
  .detail-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Borde redondeado en el botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .detail-button:hover {
    background-color: #0056b3; /* Color de fondo en hover del botón */
  }