/* Estilos para el botón del tema */
.theme-button {
    background-color: #7299c4; /* Color de fondo del botón en el tema claro */
    color: #fff; /* Color del texto en el botón en el tema claro */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}
  
.theme-button:hover {
    background-color: #2c4e72; /* Color de fondo en hover del botón */
    color: #fff; 
}
  
/* Estilos para el botón en el tema oscuro */
.dark .theme-button {
    background-color: #fafafa; /* Color de fondo del botón en el tema oscuro */
    color: #2c4e72; /* Color del texto en el botón en el tema oscuro */
}
  
.dark .theme-button:hover {
    background-color: #1d2124; /* Color de fondo en hover del botón en el tema oscuro */
  }
  