/* Estilos para el botón del tema */
.theme-button {
    background-color: #7299c4; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}
  
.theme-button:hover {
    color: #2c4e72; 
    background-color: #fff; 
    border: 0.5px solid;
    border-color: #2c4e72;
}
  
